{% extends 'base.html' %}
{% block content %}

<!-- Begin page content -->
<main role="main" class="mt-3 flex-shrink-0">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1>{{ pagename }}</h1>
                <hr>
            </div>
        </div>
{% comment "" %}
        <div class="row">
            <div class="col">
                <p>На данной страницы будут отображаться все созданные сниппеты.</p>
                <p>Пока тут просто пример, но скоро заменим реальными сниппетами из БД!</p>
                <hr>
            </div>
        </div>
{% endcomment %}

        <div class="row">
            <div class="col">
                <table class="table table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Название</th>
                        <th scope="col">Статус</th>
                        <th scope="col">Язык</th>                        
                        <th scope="col">Дата создания</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col">Пользователь</th>
                        
                    </tr>
                    </thead>
                    <tbody>
                    
                    {% for el in list_snippet %}
                    <tr>
                        <td scope="row">{{el.id}}</td>
                        <td><a href="{% url "page_snippet" el.id %}">{{el.name}}</a></td>
                        <td scope="row">
                            {% if el.status %}
                                Private
                            {% else %}
                                Public
                            {% endif %}
                        </td>
                        <td>{{el.lang}}</td>
                        <td>{{el.creation_date}}</td>
                        <td><a href="{% url "snippet-delete" el.id %}">                
                            <div class="row">
                                <div class="col-10">
                                    <input type="submit" class = "btn btn-primary btn-block" value = "Delete">
                                </div>   
                            </div> 
                            </a>
                        </td>

                        <td> 
                            <a href="{% url "snippet-edit" el.id %}">                     
                            <div class="row">
                                <div class="col-10">
                                    <input type="submit" class = "btn btn-primary btn-block" value = "Edit">
                                </div>   
                            </div> 
                            </a>
                        </td>
                        <td> {{el.user.username}}</td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
                <div align="right">
                    <i style="color: gray;">Всего сниппетов: {{len_snippet}}</i>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}